

<div class="container">


  <div class="label">

    <h2>Filters</h2>

  </div>



  <div class="menu1">


    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Languages
        </mat-panel-title>
        <mat-panel-description>

          
            
            
        
          
        </mat-panel-description>
    
      </mat-expansion-panel-header>

      <div class="flex1">


      <div class="buttons">  <button mat-raised-button>Telugu</button>    </div>
      <div class="buttons">  <button mat-raised-button>Hindi</button>    </div>
      <div class="buttons">  <button mat-raised-button>English</button>    </div>

      </div>
      
    </mat-expansion-panel>
    
    </div>

   
    <div class="menu1">


      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            Genres
          </mat-panel-title>
          <mat-panel-description>
            
          </mat-panel-description>
      
        </mat-expansion-panel-header>
         
        <div class="flex1">

        <div class="buttons">  <button mat-raised-button>Action</button>    </div>
        <div class="buttons">  <button mat-raised-button>Adventure</button>    </div>
        <div class="buttons">  <button mat-raised-button>Comedy</button>    </div>
        <div class="buttons">  <button mat-raised-button>Drama</button>    </div>
        <div class="buttons">  <button mat-raised-button>Thriller</button>    </div>
        <div class="buttons">  <button mat-raised-button>Horror</button>    </div>
        <div class="buttons">  <button mat-raised-button>Drama</button>    </div>

        </div>
        
      </mat-expansion-panel>
      
      </div>





  <div class="menu1">

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Date
      </mat-panel-title>
      
  
    </mat-expansion-panel-header>
    

    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

  </mat-expansion-panel>

</div>
 
  



 



</div>